body {
    font-family: 'Roboto', sans-serif;
}

.alerts-container {}

.callout-container {
    height: 100vh;
    /* taken from css-tricks.com (perfect full page background image)
     */
    background: url("../assets/images/whiskey-background.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* use flex to vertically/central align content */
    display: flex;
    justify-content: center;
    align-items: center;

}

.quotes-container {}

.features-container {}

/* block divider for lead text */
.block-divider {
    width: 75px;
    background-color: #f05f40;
    height: 5px;
    border: 0;

}

/* Jumbotron styling */
.jumbotron {
    background-color: transparent;

}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #a7a7a7;
}



.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}